{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card w-80 mt-5">
    <div class="card-body">
        <h5 class="card-title">Complete your order</h5>
        <form method="POST">
            {% csrf_token %}
            <h6>{{form.non_field_errors}}</h6>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">{{form.name|as_crispy_field}}</div>
                <div class="form-group col-md-6 mb-0">{{form.surname|as_crispy_field}}</div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">{{form.email|as_crispy_field}}</div>
                <div class="form-group col-md-6 mb-0">{{form.phone_number|as_crispy_field}}</div>
            </div>

            <div class="form-row">
                <div class="form-group col-12 mb-0">{{form.street_name|as_crispy_field}}</div>
                <div class="form-group col-md-4 mb-0">{{form.zip_code|as_crispy_field}}</div>
                <div class="form-group col-md-8 mb-0">{{form.city_name|as_crispy_field}}</div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">{{form.payment_type|as_crispy_field}}</div>
                <div class="form-group col-md-6 mb-0">{{form.shipping_type|as_crispy_field}}</div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock content %}}
